{%extends 'base.html'%}
{%block nav-index%}class="active"{%endblock%}
{%block content%}
<div class="starter-template">
  <h1 class ="margin">DBS Projekt</h1>
  <h2 class="margin">Data Mining und Visualisierung </h2>
  <p class ="lead">Das Ziel des Projektes, ist die Entstehung einer Web Anwendung.</br>
  Sie soll dabei Daten aus dem Datensatz american-election in geeigneter Form, visuell darstellen sowie das Abfragen von Informationen ermöglichen.</br>
  Das sekundäre Ziel ist dabei, das Auseinandersetzen mit relationale Datenbanken und deren Anwendung.</br>
  Des Weiteren ist der Weg ebenso ein Ziel, welcher sich aus folgenden Punkten zusammen setzt:</br>
  </p>
  <dl class="row">
    <dt>Phase 1:</dt> 
    <dd>Hierbei liegt der Fokus auf der Festlegung der zu implementierenden Features sowie das Entwerfen des Konzeptes für das Datenmodell. <dd></br>
    <dt>Phase 2: </dt>
    <dd>Erstellung des Datenbankschemas sowie die Aufbereitung und das Pflegen der Daten. Des Weiteren folgt Einbindung in den Webserver.<dd></br>
    <dt>Phase 3:</dt>
    <dd>Bestimmung der Datenabhängigkeit sowie dessen visuelle Darstellung.</dd></br>
  </dl>
  <p class="lead">
  Das Team in der alphabetischen Reihenfolge:</br></p>
  <dl class="row">
    <dt>Adrian Gruszczynski (Informatik Bachelor)</dt>
    <dt>Pit Ronk (Mathematik Bachelor)</dt>
    <dt>Remi Toudic (Mathematik Master)</dt>
  </dl>
  <p class="lead">
  Gitlab repository:</br>
  <a href="https://gitlab.spline.inf.fu-berlin.de/h4rrytrum4n/DBS_PR" target="_blank"><i class="fa fa-github fa-5x"></i></a>
  </p>
</div>
{%endblock%}
